<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
<script src="/scripts/management-button.js" defer></script>
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Your Orders</h1>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include('../../shared/includes/footer') %>