<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<script src="/scripts/management-button.js" defer></script>
<script src="/scripts/cart.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Products</h1>
    <% for (const product of products) { %>
      <li>
        <%- include('../../shared/includes/product-item', { product: product }) %>
      </li>
    <% } %> 

  </main>
<%- include('../../shared/includes/footer') %>