<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<script src="/scripts/management-button.js" defer></script>
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Product Administration</h1>
    <section>
      <h2>Manage Products:</h2>
      <p>
        <a href="/admin/products/new" class="btn">Add Product</a>
      </p>
    </section>
    <section>
      <% for (const product of products) { %>
        <li>
          <%- include('../../shared/includes/product-item', { product: product }) %>
        </li>
      <% } %> 
    </section>

  </main>
<%- include('../../shared/includes/footer') %>